@{
  Layout = "_Layout";
}

@model PierresShoppe.Models.Treat
@Html.ActionLink(" All Treats", "Index", null, null, new { @class="btn btn-info fa fa-user" })
<h2>Add a Flavor</h2>

<h4>Add a Flavor to @Html.DisplayFor(model => model.TreatName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  <table>
    <tr>
      <td>@Html.Label("Select flavor")</td>
      <td>@Html.DropDownList("flavorId")</td>
    </tr>
  </table>
  <button type="submit" class="btn btn-info fa "><i class="fa-user-plus"> Save</i></button>
}